.loader {
  width: 7rem;
  height: 7rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  &__square {
    background-color: var(--secondary-color);
    width: 3rem;
    height: 3rem;
    border: 0.3rem solid var(--primary-dark-color);
    animation: swing 2s ease-in-out infinite;
    animation-fill-mode: forwards;
  }

  @keyframes swing {
    0% {
      rotate: 0deg;
    }

    33% {
      rotate: 70deg;
      border-radius: 20%;
    }

    66% {
      rotate: -70deg;
      border-radius: 20%;
    }

    100% {
      rotate: 0deg;
    }
  }
}
