.selectGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.6rem;

  &__select {
    background-color: var(--primary-color);
    font-family: inherit;
    width: 12.5rem;
    border: 1px solid var(--primary-dark-color);
  }
}
