@import "../../app/variables";
.form {
  display: flex;
  width: 270px;
  justify-content: center;
  gap: 0.35rem;
  @media (max-width: $tablet) {
    width: 100%;
  }

  .submit {
    width: 40px;
    border-radius: 10px;
    background-color: cadetblue;
    border: 1px solid gray;
  }

  .input {
    padding: 0.65rem 2rem;
    color: black;
    border-radius: 10px;
    border: solid;
    text-align: center;
    width: 300px;
  }
}
