@use '@/assets/styles/variables' as *;

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.description {
  z-index: 2;
  font-family: var(--font-mono);
  font-size: 0.85rem;
  width: 100%;
  max-width: var(--max-width);
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.45rem;

  @include media-mobile-l {
    flex-wrap: nowrap;
  }
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.25rem;
  margin-top: 4rem;
}

.nothing {
  margin-top: 10rem;
}
