@import "variables";
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.panel {
  display: flex;
  gap: 0.45rem;
  justify-content: center;
  flex-wrap: wrap;
  @media (min-width: $tablet) {
    flex-wrap: nowrap;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1.25rem;

  .home {
    padding: 0.65rem 2rem;
    border-radius: 10px;
    background-color: cadetblue;
    border: 1px solid gray;
    width: 270px;
    text-align: center;
    @media (min-width: $tablet) {
      width: 30%;
    }
  }
}

.noResult {
  margin-top: 15rem;

  .sadSmile {
    object-fit: scale-down;
    width: 20%;
    margin: 0 auto;
    display: flex;
  }
}
