@use '@/assets/styles/variables' as *;

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.article {
  width: 18rem;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  @include media-mobile-l {
    width: 20.5rem;
    height: auto;
  }
}

.img {
  width: 100%;
  height: 12.5rem;
  border-radius: 3rem;
  object-fit: cover;
}

.title {
  overflow: hidden;
  height: 3rem;
  text-align: center;
}

.description {
  overflow: hidden;
  font-size: 0.8rem;
  height: 4rem;
  text-align: center;
}
